.directory-menu {
  margin: auto;
  width: 90%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // // overflow-x: scroll;
  // position: relative;
  top: 120px;
  
}

