
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.container{
    margin-top: 50px;
}

.eventTitle{
    color: #343a40;
    font-family: Roboto;
}

.eventInfoImage{
    width: 100%;
}